#cart-container {
    margin: 2rem auto;
}

table thead tr {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 40px 0px; */
    background-color: #ff3c78e0;
    padding: 10px 20px;
    border-radius: 29px;
    color: white;
}

table thead tr th {
    /* border-radius: 29px; */
    padding: 7px 20px !important;
}

td {
    padding: 10px 23px !important;
}

.cart-body ul li {
    font-weight: 700;
}

.cart-prod {
    display: flex;
    align-items: center;
}

.cart-prod img {
    height: 103px;
}

.cart-text span {
    color: red;
}

.cart-text span:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.77);
    text-decoration: underline;
}