* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar Styling */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 12px;
    padding-top: 12px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links a li:hover {
    color: #FF3C78;
}

/* .underLine {
    background-color: red;
    width: 7px;
    border-radius: 50%;
    height: px;
    height: 5px;
    display: block;
} */

.nav-icons a li span:hover {
    color: #FF3C78;
}

.list {
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.list li {
    color: black;
    font-size: 1.1rem;
    padding: 12px;
}

.logo img {
    height: 110px;
}


/* hero */
.hero-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 0px 178px; */
}

.hero-text h1 {
    font-size: 3.4rem;
    font-weight: 1000;
}

.hero-btn {
    background-color: #FF3C78;
    color: white;
    border: 1px solid transparent;
    padding: 10px 47px;
    border-radius: 4px;
    font-size: 12px;
}

.hero-btn:hover {
    background-color: white;
    color: #FF3C78;
    border: 1px solid #FF3C78;
}

.hero-image img {
    height: 500px;
}

/* Featured Products */
.f-products {
    padding: 75px 0px;
}

#viewAll {
    color: #FF3C78;
}

.p-body {
    margin: 12px 20px;
}

.rating {
    font-size: 14px;
    margin-bottom: 0.54rem;
}

.clicked {
    color: #FE7831;
}

.top-p-name {
    font-size: 1rem;
    font-weight: 200;
}

.top-p-price {
    font-size: 2rem;
    font-weight: 900;
}
.top-p-text{
    width: 200px;
}
.shoesImg {
    height: 50%;
    width: auto;
}

/* utilities classes */
.badge {
    --bs-badge-padding-x: 0.25em !important;
    --bs-badge-padding-y: 0.05em !important;
    --bs-badge-font-size: 0.55em !important;
    padding: 1px 6px !important;
}

#section-1 {
    background-color: #E5E5E5;
    padding-bottom: 75px;
}