* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* body {
    background-color: #E5E5E5;
} */

/* Navbar Styling */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 12px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links a li:hover {
    color: #FF3C78;
}

/* .underLine {
    background-color: red;
    width: 7px;
    border-radius: 50%;
    height: px;
    height: 5px;
    display: block;
} */

.nav-icons a li span:hover {
    color: #FF3C78;
}

.list {
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.list li {
    color: black;
    font-size: 1.1rem;
    padding: 12px;
}

.logo img {
    height: 110px;
}


/* hero */
.hero-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 0px 178px; */
}

.hero-btn {
    background-color: #FF3C78;
    color: white;
    padding: 10px 47px;
    border-radius: 4px;
    border-color: transparent;
    font-size: 12px;
}

.hero-btn:hover {
    background-color: white;
    color: #FF3C78;
    border: 1px solid #FF3C78;
}

.hero-image img {
    height: 720px;
}